bin
/.apt_generated/
/app.pid
/.classpath
/.factorypath
/.settings/
cookies.txt
src/main/resources/application.properties
src/test/resources/application_test.properties

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
